<section class="navbar navbar-expand navbar-dark px-4">
  <div class="navbar-nav-scroll">
    <ul class="nav navbar-nav d-flex align-items-center" routerLinkActive="active">
      <li class="nav-item">
        <a class="navbar-brand" routerLink="">
          <img src="assets/images/earth_logo.png" class="invert navbar-logo">
        </a>
      </li>
      <li *ngFor="let navLink of navLinks" class="nav-item"><a class="nav-link" [routerLink]="navLink.routerLink">{{navLink.label}}</a></li>
    </ul>
  </div>
</section>