<!-- Footer -->
<footer class="page-footer font-small">
  <div class="footer-copyright d-flex flex-column py-3 bg-primary">
    <div class="row text-center d-flex justify-content-center pt-4 mx-md-5">
      <div class="col-12 col-md mb-3 p-0" *ngFor="let link of navLinks, last as isLast">
        <h6 class="border-white-75" [ngClass]="{ 'border-right': !isLast }">
          <a class="text-white" [routerLink]="link.routerLink">{{ link.label }}</a>
        </h6>
      </div>
    </div>

    <!-- Social icons -->
    <div class="mx-auto mb-2">
      <div class="d-flex justify-content-center">
        <div *ngFor="let link of links">
          <a *ngIf="link.href" class="px-3 text-white" [href]="link.href">
            <i [class]="'zmdi ' + link.iconLabel + ' zmdi-hc-lg'"></i>
          </a>
          <a *ngIf="link.routerLink" class="px-3 text-white" [routerLink]="link.routerLink">
            <i [class]="'zmdi ' + link.iconLabel + ' zmdi-hc-lg'"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- Copyright -->
    <span class="py-2 text-center text-white-75">
      © 2019 Copyright:
      <a routerLink="home" class="text-white"> Baroudeurs Pur Beurre</a>
    </span>
  </div>
</footer>