<footer class="footer bg-light">
  <div class="container d-flex flex-row align-items-center p-3">
    <span class="">Auteur site web : Cédric MOUBRI-TOURNES</span>
    <div class="ml-auto">
      <ul class="d-flex flex-row m-0">
        <li class="social-item px-3 py-2">
          <a [href]="links.github" class="text-primary">
            <i class="zmdi zmdi-github zmdi-hc-lg"></i>
          </a>
        </li>
        <li class="social-item px-3 py-2 border-left">
          <a [href]="links.linkedin" class="text-primary">
            <i class="zmdi zmdi-linkedin zmdi-hc-lg"></i>
          </a></li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</footer>