<app-header class="d-lg-none" [title]="title"></app-header>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-2 border-right border-bottom sticky-top">
      <app-side-nav *ngIf="articlesLinks.length > 0" class="sticky-top" [articles]="articlesLinks">
      </app-side-nav>
    </div>

    <div class="col-12 col-lg-10">
      <app-header class="d-none d-lg-block outside-container" [title]="title"></app-header>

      <div [ngSwitch]="articles.length">
        <div *ngSwitchCase="0" class="box-container">
          <div id="chartdiv" class="box-content d-flex align-items-center justify-content-center">
            <loading-message [text]="'Chargement des articles'"></loading-message>
          </div>
        </div>

        <div *ngSwitchDefault class="row">
          <section class="col-xl-11 mx-auto py-5 px-3 px-md-4 px-lg-5 d-flex flex-column">
            <app-article *ngFor="let article of articles; index as i" [id]="'article-' + article.id"
              [articleId]="article.id" [title]="article.title" [number]="articles.length - i" [text]="article.text"
              [imgNb]="article.imgNb" [imgDirLabel]="article.imgDirLabel" [comments]="article.comments">
            </app-article>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>