@import "theming";

$x-padding: 1rem;
$y-padding: 0.25rem;
$indent-link: 1.25rem;

nav {
  margin-left: -15px;
  margin-right: -15px;
  background-color: white;

  & > * {
    background-color: white;
  }

  #header,
  .nav-link {
    padding: $y-padding $x-padding;
    color: rgba(0, 0, 0, 0.65);
  }

  #header {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
  }

  .nav-link {
    display: block;
    white-space: normal;
    border-radius: 0px;

    &:hover {
      cursor: pointer;
      background-color: theme-color("light");
      color: theme-color("primary");
    }

    &.active {
      color: theme-color("primary");
      background-color: transparent;

      &:hover {
        background-color: theme-color("light");
      }
    }
  }

  .article-link {
    padding-left: calc(#{$x-padding} + #{$indent-link});
    font-size: 90%;
  }

  #scroll-top-icon > i {
    min-width: 30px;
  }

  ul {
    padding: 0px;
  }

  li {
    list-style: none;
    padding-inline: 0px;
  }

  .dropdown-toggle {
    cursor: pointer;
  }
}

@include media-breakpoint-up(md) {
  nav {
    height: 100vh;
    overflow-y: auto;
  }

  // Disable collapse for linkList above md breakpoint
  #linkList.collapse:not(.show) {
    display: block !important;
  }
}
