<nav class="py-3 py-lg-4 border-bottom" id="scrollspy">
  <div id="header">
    <span class="d-none d-lg-block">Liste Articles</span>

    <a class="d-flex align-items-center d-lg-none" data-toggle="collapse" data-target="#linkList"
      aria-controls="linkList" aria-expanded="true">
      <span class="dropdown-toggle">Liste Articles</span>
      <button id="scroll-top-icon" class="btn btn-outline-secondary button-icon-secondary ml-auto"
        (click)="scrollToTop($event)">
        <i class="zmdi zmdi-long-arrow-up"></i>
      </button>
    </a>
  </div>

  <ul id="linkList" class="nav nav-pills nav-stacked collapse flex-column mt-3">
    <li class="nav-item dropdown" *ngFor="let country of articles; index as i; let first = first">

      <a class="nav-link dropdown-toggle" data-toggle="collapse" [attr.data-target]="'#country-' + country.id"
        [ngClass]="{ active: first }">{{ country.name }}</a>

      <ul [id]="'country-' + country.id" class="collapse">
        <li *ngFor="let link of country.links">
          <a class="nav-link article-link dropdown-item" [attr.data-target]="'#article-' + link.id"
            [href]="'/flow#article-' + link.id">{{ link.title }}</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>