@import "theming";

nav {
  margin-left: -15px;
  margin-right: -15px;

  #header,
  .nav-link {
    padding: 0.25rem 1.5rem;
    color: rgba(0, 0, 0, 0.65);
  }

  .nav > li > a {
    font-size: 90%;

    &:hover {
      color: theme-color("primary");
    }

    &.active {
      color: theme-color("primary") !important;
      background-color: transparent !important;
    }
  }
}
