@import "theming";

nav.navbar {
  background: linear-gradient(135deg, theme-color-level('primary', +2), theme-color-level('primary', -2));
}

.navbar-brand-text {
  max-height: 2.5rem;
}

.nav-link {
  cursor: pointer;
}

.navbar-logo {
  height: 2.5rem;
  width: 2.5rem;
}