<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand d-inline-flex" routerLink="">
      <img src="assets/images/world_color.png" class="navbar-logo mr-3">
      <!-- https://fontmeme.com/brush-fonts/ -->
      <img src="assets/images/brand.png" class="navbar-brand-text">
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto " routerLinkActive="active">
        <li *ngFor="let navLink of navLinks" class="nav-item">
          <a class="nav-link px-3" [routerLink]="navLink.routerLink">{{ navLink.label }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" (click)="subscribeNewsletter()">
            <i class="zmdi zmdi-notifications"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>