<h2>
  <span>Carousel</span>
</h2>
<div class="card mb-5">
  <div class="card-body">
    <ngb-carousel class="pb-4" *ngIf="images">
      <ng-template ngbSlide *ngFor="let image of images">
        <img [src]="image" class="w-100" alt="Random slide">
        <div class="carousel-caption">
          <h3>Slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </ng-template>
    </ngb-carousel>
    <p class="text-justify">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sagittis erat eu lacus maximus, sit amet
      scelerisque neque eleifend. Suspendisse potenti. Sed gravida accumsan sapien sit amet dignissim.
      Suspendisse
      metus metus, interdum vel libero quis, egestas pharetra lacus. Nam fermentum sem quis mauris tincidunt, nec
      vulputate purus pretium. Praesent lacinia nisi nec tellus luctus consectetur. Cras eu enim ac tortor
      porttitor pulvinar at a eros. Donec neque risus, convallis ac ex sed, ultricies iaculis quam. Praesent
      dignissim ante nisl, nec posuere mi dictum in. In non purus et est bibendum vehicula in et justo. Donec
      tempor justo eu nunc venenatis, sit amet lacinia ante pulvinar. Fusce tincidunt neque congue quam placerat,
      sit amet laoreet nibh euismod.
    </p>
  </div>
</div>