<h2>
  <span>#{{number + 1}} {{title}}</span>
</h2>
<div class="card mb-5">
  <div class="card-body">
    <ngb-carousel class="pb-4" *ngIf="images">
      <ng-template ngbSlide *ngFor="let imageId of images">
        <img [src]="'assets/pictures/' + imageId + '.jpg'" class="w-100" alt="Random slide">
        <div class="carousel-caption">
          <!-- <h3>Slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
        </div>
      </ng-template>
    </ngb-carousel>
    <p class="text-justify"> {{text}} </p>
    <a class="btn btn-outline-primary button-icon-primary" (click)="isCommentsCollapsed = !isCommentsCollapsed">
      <i class="zmdi zmdi-comment"></i>
      <span class="badge badge-light ml-2">{{ comments.length }}</span>
    </a>

    <div class="mt-3 border-top" [ngbCollapse]="isCommentsCollapsed">
      <div class="mt-3" *ngFor="let comment of comments">
        <h6 class="">{{ comment.author }}</h6>
        <div class="card">
          <div class="card-body quotation">{{ comment.text }}</div>
        </div>
      </div>
    </div>

  </div>
</div>