@import "theming";

// Add quotation symbols on comments
.quotation {
  &:before,
  &:after {
    font-family: "Sanchez";
    font-weight: 400;
    font-size: 1.25rem;
    color: theme-color("primary");
  }
  &:before {
    padding-right: 0.25rem;
    content: "\201C";
  }
  &:after {
    padding-left: 0.25rem;
    content: "\201D";
  }
}

// Container to fix picture ratio to 16:9
.image-container {
  width: 100%;
  padding-top: 56.25%;
  position: relative;

  .image-sub-container {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      height: 100%;
    }
  }
}

// Allow html line break in text
pre {
  white-space: pre-wrap;
}

.overview {
  max-height: 240px; // font-size (16px) x line-height (1,5) x number of lines (10)
  overflow: hidden;
}

.gradient-layer {
  height: 50px;
  margin-top: -66px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  ); /* Standard syntax (must be last) */
  position: relative;
  z-index: 1;
}

.spinner {
  margin: auto;
  position: absolute;
}
