@import "theming";

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 10px;
  margin-left: -1.5px;
}

@include media-breakpoint-up(sm) {
  .timeline:before {
    left: 50%;
  }
}

.timeline-bagde-container {
  width: 50px;
  height: 30px;
  margin-top: 1.25rem;
  i {
    margin-top: -1px;
  }
}

.timeline-body > p + p {
  margin-top: 5px;
}

