<!-- https://bootsnipp.com/snippets/OzQj -->
<div class="container">
  <ul class="timeline">
    <li *ngFor="let event of events; index as i" [ngClass]="{'timeline-inverted': (i % 2) !== 0}">
      <div class="timeline-badge text-info">
        <i class="zmdi zmdi-gps-dot"></i>
      </div>
      <div class="card timeline-panel">
        <div class="card-body">
          <div class="card-title">
            <h4 class="timeline-title d-flex align-items-center">
              <!-- https://github.com/hjnilsson/country-flags -->
              <img class="mr-2" [src]="event.flagUrl">{{ event.country }}
            </h4>
            <p><small class="text-muted"><i class="zmdi zmdi zmdi-calendar-alt mr-2"></i>{{ event.date }}</small></p>
          </div>
          <p>{{ event.text }}</p>
        </div>
      </div>
    </li>
  </ul>
</div>