<app-header title="Contact"></app-header>

<section id="about" class="content m-0 tile-container text-center py-md-5 py-4">
  <div class="row m-0 px-3">
    <app-tile *ngFor="let tile of tiles, last as isLast" class="col-12 col-md p-0" [ngClass]="{ 'border-separated': !isLast }"
      [title]="tile.title" [iconUrl]="tile.iconUrl">
      <div class="mt-5 px-sm-5 px-md-2 px-lg-5">
        <div class="d-flex" *ngFor="let line of tile.details">
          <i [class]="'zmdi ' + line.icon + ' zmdi-hc-lg mr-4'"></i>
          <p>{{ line.text }}</p>
        </div>
      </div>
    </app-tile>
  </div>
</section>