<button type="button" class="btn btn-outline-dark close-btn fixed-top ml-auto"
  (click)="activeModal.close('Close click')">
  <span aria-hidden="true">&times;</span>
</button>

<ngb-carousel *ngIf="imagesPath.length > 0">
  <ng-template ngbSlide *ngFor="let imagePath of imagesPath; index as i">
    <div class="d-flex align-items-center justify-content-center min-vh-100">
      <loading-message [color]="'light'" class="spinner"></loading-message>
      <img class="max-vh-100" [src]="'assets/pictures/' + imagePath" [alt]="title + ' ' + i" class="picture">
    </div>
  </ng-template>
</ngb-carousel>