.close-btn {
  position: absolute;
  color: rgba(255, 255, 255, 1);
  font-size: 1.5rem;
  padding: 0.375rem 1rem !important;
  border: none;
  margin: 4px;

  &:hover {
    border: 1px solid white;
    background-color: transparent !important;
  }
}

.max-vh-100 {
  max-height: 100vh !important;
}
