<div class="modal-header">
  <h4 class="title d-flex align-items-center"> {{ title }} </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <ngb-carousel class="pb-4" *ngIf="imagesPath.length > 0">
    <ng-template ngbSlide *ngFor="let imagePath of imagesPath">
      <div class="image-container">
        <div class="image-sub-container d-flex justify-content-center">
          <img [src]="'assets/pictures/' + imagePath" alt="Random slide">
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<!-- <div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div> -->