// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

:root {
  --theme-mode: light;
}

// Custom theme by overriding default colors
$theme-colors: (
  "primary": #d84315,
  "secondary": #6c757d,
  // "success": #28a745,
  // "info": #17a2b8,
  // "warning": #ffc107,
  // "danger": #dc3545,
  "light": #f8f9fa,
  // "dark": #343a40,
);

// Generate alert modifier classes
@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include alert-variant(theme-color-level($color, -10), theme-color-level($color, -9), theme-color-level($color, 6));
  }
}

.button-icon-primary {
  color: theme-color("primary") !important;
  &:hover {
    color: white !important;
  }
}

// Bootstrap modal component
.modal-backdrop.show {
  opacity: 0.85 !important;
}

.modal-dialog {
  // Full screen modal
  max-height: 100vh !important;
  max-width: 100% !important;
  margin: 0 !important;
}

.carousel-inner {
  // Avoid overflow scroll bar
  max-height: 99.99vh !important;
}

.modal-content {
  background-color: transparent !important;
}
