@import "theming";

// Navbar
$navbar-height: 66px;

// Background
$fade-color: #000000 !default;
$fade-out-coef: 0.5;
$background-url: "../../assets/images/home-background.jpg";

// Styling for the masthead
header.masthead {
  margin-top: -#{$navbar-height};
  z-index: -1;
  background: linear-gradient(
      to bottom,
      #{fade-out($fade-color, $fade-out-coef)} 0%,
      #{fade-out($fade-color, $fade-out-coef)} 100%
    ),
    url($background-url);

  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  img {
    height: 25vh;
    width: 25vh;
  }

  h2 {
    font-size: 2rem;
  }

  .container {
    padding-top: $navbar-height;
  }

  height: 100vh;
  @include media-breakpoint-up(lg) {
    min-height: 40rem;
    padding-top: $navbar-height;
    padding-bottom: 0;
    p {
      font-size: 1.15rem;
    }
    h2 {
      font-size: 2.5rem;
    }
  }
  @include media-breakpoint-up(xl) {
    h2 {
      font-size: 3rem;
    }
  }
}

.text-white-75 {
  color: rgba(255, 255, 255, 0.75);
}
.font-weight-light {
  font-weight: 300 !important;
}

hr.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: theme-color("primary");
}

section.content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .tile-divider {
    width: 75%;
    height: 1px;
    border-bottom: theme-color("secondary") solid 1px;
  }
  @include media-breakpoint-up(md) {
    height: 100vh;

    .tile-divider {
      border: none;
    }
  }
}
