<header class="bg-light pt-4 pb-md-5 px-4 px-lg-5 d-flex d-md-block align-items-center title">
  <h1 class="mb-4 mr-auto mr-md-none">Accueil</h1>
</header>

<div class="container">
  <div class="row">
    <section class="col-xl-9 mx-auto py-5 px-2 px-md-4 px-lg-5 d-flex flex-column">
      <app-article *ngFor="let article of articles; index as i"
        [title]="article.title"
        [number]="i"
        [text]="article.text"
        [images]="article.images">
      </app-article>
    </section>
  </div>
</div>